- name: "Copy catalogue systemd service"
  ansible.builtin.template:
    src: catalogue.service.j2
    dest: /etc/systemd/system/catalogue.service
  become: yes

- name: "Reload systemd daemon"
  ansible.builtin.systemd:
    daemon_reload: yes
  become: yes

- name: "Start and enable catalogue service"
  ansible.builtin.service:
    name: catalogue
    state: restarted
    enabled: yes
  become: yes
