- name: disable default nodejs
  ansible.builtin.command: dnf module disable nodejs -y # no module in ansible to disbale, hence we give the command directly

- name: enable nodejs:20
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: Install nodejs
  ansible.builtin.dnf:
    name: nodejs
    state: present

- name: install dependencies
  community.general.npm:
    path: /app  